@import '../../../variables/_variables.scss';


.login{
@include flex(flex,center,wrap,row); 
height: 100vh;
min-width: fit-content;
background-image: linear-gradient(grey, black);
.lContainer{
    @include flex(flex,center,nowrap,column);  
position: absolute;
align-items: center;
width: 40%;
height: 60vh;
min-width: fit-content;
max-width: 1024px;
top: 30%;
gap: 10px;
background-color: #2196f3;
border: 1px solid white;
padding: 10px;
border-radius: $border-radius;
.formHeader{
    color: white;
}

input{

    width: 200px;
    height:40px;
    border-radius: $border-radius;
    border: 1px solid $border;
font-size: 15px;
    &::placeholder{
        padding: 10px;
    }
    &:focus{
        outline:1px solid crimson;
    }
}

.loginBtn{
    width: 200px;
    height:40px;
    border: 1px solid white;
    border-radius: $border-radius;
    cursor: $cursor;
font-size:15px;
background-color: #1d2429;
color: white;
letter-spacing: 0.5px;
    &:hover{

// box-shadow: 0px 0px 10px 0px white;
background-color: #2f353a;
    }
}
.form{
    @include flex(flex,center,wrap,column);  
gap: 10px;

}
.signUpContainer{

    @include flex(flex,center,wrap,column);  
    align-items: center;

    p{
        color: white;
text-shadow: 1px 0px 0px grey;
        
    }
    button{
border: $border;
background-color: $border;
cursor: pointer;
padding: 2px;
font-weight: bold;
display: flex;
align-items: flex-end;
text-shadow: 1px 0px 0px grey;
transition:0.5s ease-in-out  ;
&:hover{
    color: azure;
}
.arrowIcon{
    font-size: large;
    margin-top: 5px;
}
    }
}
}
}